<% provide(:title, "Todo+") %>

		<div id="header">
			
			<div class="inner">
				Atlastory Project Manager
				<div class="bottom">
					<div id="current-project">
						Today
					</div>
					<div id="tabs">
						<ul>
							<li class="active"><a href="#">Lists</a></li>
							<li><a href="#">Calendar</a></li>
							<li><a href="#">Project Wiki</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="container">
			
			<div class="sidebar">
				<ul>
					<li class="active"><a href="#"><i class="icon-star"></i> Today</a></li>
					<li><a href="#"><i class="icon-briefcase"></i> Projects</a></li>
					<li class="sub"><a href="#"><i class="icon-folder-open"></i> Sub-project</a></li>
				</ul>
			</div>
			
			<div class="contents">
				<div class="inner">
					<div class="list">
						<ul>
							<li class="task new">
								<div class="check"></div>
								<div class="name">
									<input id="new-task" placeholder="Add new task..." autofocus>
								</div>
								<div class="tools"></div>
							</li>
							<ul class="list-items">
								
							</ul>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>